html, body {
	/* height: 100%; */
	/* width: 100%; */
	padding-top: 0.8em;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	/* color: #444; */
    color: #031c2b;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
    width: 400px;
    font-size: 24px;
    border: 1px solid black;

}

.pointer {
    cursor: pointer;
}

/* paletton.com */
/* base color 29526d */

.header {
    font-weight: bold;
    font-size: 36px;
    padding: 1.33em;
}

.pageHeader {
    background-color: #11354c;
    text-align: center;
    color: #FAFAFA;
}

.billTotal {
    font-size: 24px;
    margin-top: 1.0em;
    text-align: center;
}

#txtTotal {
    font-size: 24px;
    width: 8.25rem;
}

.tipPercentageText {
    text-align: center;
    margin-top: 1.0em;
}

.valueBumpers {
    color: #277650;
    text-align: center;
    float: left;
}

.leftBumper {
    padding-right: 1.5rem;
}

.rightBumper {
    padding-left: 1.5rem;
}

.splitPicker {
    padding-left: 5px;
    padding-right: 5px;
}

.splitLine {
    float: left;
    width: 100%;
    margin-top: 3px;
    padding: 0.15em;
    border-bottom: 2px solid #49738d;
    border-right: 2px solid #49738d;
    background-color: #92b3c9;
    color: #FAFAFA;
}

