html, body {
	/* height: 100%; */
	/* width: 100%; */
	padding-top: 0.8em;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	/* color: #444; */
    color: #031c2b;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}

.calculator {
    font-size: 2.0em;
}

.pointer {
    cursor: pointer;
}

/* paletton.com */
/* base color 29526d */
.pageHeader {
    background-color: #11354c;
    text-align: center;
    color: #FAFAFA;
}

.bumper {
    margin-left: 0.75em;
    margin-right:0.75em;
}

.splitPick {
    margin-top: 1.5em;
    font-size: 1.75em;
}

.splitLine {
    /* margin-top: 0.75em; */
    margin-top: 3px;
    padding: 0.15em;
    border-bottom: 2px solid #49738d;
    border-right: 2px solid #49738d;
    font-size: 2.0em;
    background-color: #92b3c9;
    color: #FAFAFA;
}

#txtTotal {
    font-size: 1.0em;
}

